table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.actions {
  display: flex;
}

.actions button {
  margin: 2px;
}

.actions button.delete {/* Red color for delete button */
  color: rgb(211, 53, 53);
}