<mat-dialog-content>
    <mat-toolbar>
        <span>Room Info</span>
    </mat-toolbar>
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="Room Number" [(ngModel)]="room.number" name="number" #number="ngModel" required minlength="1">
            @if (number.invalid && number.touched) {
                <small class="text-danger">
                @if (number.errors?.['required']) {
                    El campo es obligatorio.
                }
                @if (number.errors?.['minlength']) {
                    El campo debe tener al menos 4 caracteres.
                }
                </small>
            }
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Room Type" [(ngModel)]="room.type" name="type" #type="ngModel" required minlength="3">
            @if (type.invalid && type.touched) {
                <small class="text-danger">
                @if (type.errors?.['required']) {
                    El campo es obligatorio.
                }
                @if (type.errors?.['minlength']) {
                    El campo debe tener al menos 3 caracteres.
                }
                </small>
            }
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Price" [(ngModel)]="room.price" name="price" #price="ngModel" required minlength="1">
            @if (price.invalid && price.touched) {
                <small class="text-danger">
                @if (price.errors?.['required']) {
                    El campo es obligatorio.
                }
                @if (price.errors?.['minlength']) {
                    El campo debe ser mayor a 1.
                }
                </small>
            }
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="room.available">
            Available
        </mat-slide-toggle>

        <div class="actions">
            <button mat-flat-button (click)="operate()">
                <span>OK</span>
                <mat-icon>done</mat-icon>
            </button>

            <button mat-flat-button class="cancel" (click)="close()">
                <span>Cancel</span>
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
    </div>
</mat-dialog-content>
