<mat-dialog-content>
    <mat-toolbar><span>Room</span></mat-toolbar>

    <div class="example-container">

        <mat-form-field>
            <input matInput placeholder="Primary Name" [(ngModel)]="room.number">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Surname" [(ngModel)]="room.type">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CMP" [(ngModel)]="room.price">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Photo" [(ngModel)]="room.available">
		</mat-form-field>
        
        <button mat-flat-button (click)="operate()">
            <span>OK</span>
            <mat-icon>done</mat-icon>
        </button>

        <button mat-flat-button class="cancel-button" (click)="close()">
            <span>Cancel</span>
            <mat-icon>cancel</mat-icon>
        </button>


    </div>

</mat-dialog-content>