/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.actions {
  display: flex;
}

.actions button {
  margin: 2px;
}

.actions button.delete {
  color: rgb(211, 53, 53);
}

.actions button.cancel {
    color: rgb(211, 53, 53);
    background-color: white;
    border: 1px solid rgb(211, 53, 53);
}
